.container {
  display: flex;
  flex-wrap: wrap;
}
.weather-app {
  width: 80%;
  flex-basis: 45em;
  border: 1px solid #928f8f;
  border-radius: 10px;
  margin: 2em auto;
}
main {
  margin: 3%;
  width: 35%;
  flex-grow: 1;
}
aside {
  width: 58%;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 6px;
  padding: 1em;
  margin: 1em;
  float: right;
}

header {
  padding: 0.5em 0;
}
div.location {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
}
div.time {
  text-align: center;
  line-height: 3rem;
}
div.current-weather {
  font-size: 4em;
  padding-left: 8%;
}
div.country-date {
  font-size: 1em;
  padding-top: 2%;
}
h2.degree {
  font-size: 6em;

  padding: 0 10%;
}
p.highest-lowest {
  font-size: 1.2em;
  padding: 0 10%;
}
#city,
#weather-description {
  text-transform: capitalize;
}
.conditions,
.upcoming-weather,
.precipitation {
  box-shadow: 0 0 5px rgb(128, 128, 128);
}
.conditions {
  width: 15em;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.upcoming-weather {
  width: 24em;
  flex-basis: 21em;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.humidity,
.wind-speed,
.pressure,
.rain {
  flex-grow: 1;
  padding: 0.2em;
  margin: 0.3em;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
}
.day-1,
.day-2,
.day-3,
.day-4,
.day-5,
.day-6,
.day-7 {
  flex-grow: 1;
  padding: 0.5em, 0.8em;
  margin: 0.3em;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
}
.units {
  width: 100%;
}
div.degrees {
  text-align: center;
  padding-top: 6px;
}

form {
  display: block;
  position: relative;
}
input.form-control {
  background-color: #ecebe4;
  color: #383230;
  text-align: center;
  font-size: 1em;
}
#current-location {
  border: 1px solid #ecebe4;
  border-radius: 4px;
  margin-top: 1px;
  padding: 0.25em 1em;
}
#current-location:hover {
  background-color: #cf8e55;
  border-color: #ecebe4;
}
input.btn {
  border-color: #ecebe4;
  margin-top: 1px;
  padding-left: 3%;
  padding-right: 3%;
}
input.btn:hover {
  background-color: #cf8e55;
  border-color: #ecebe4;
}
p.today-weekly {
  text-align: end;
}
div.precipitation {
  padding: 10px;
  margin-bottom: 10px;
}
img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    font-size: 10px;
  }
}
#github-link {
  display: block;
  text-align: center;
}
