@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
}
.weather-app {
  width: 80%;
  flex-basis: 45em;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 30px 50px rgba(135, 134, 138, 0.2);
  border: 1px solid rgba(135, 134, 138, 0.2);
  border-radius: 10px;
  margin: 2em auto;
}
main {
  margin: 3%;
  width: 35%;
  flex-grow: 1;
}
aside {
  width: 58%;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 6px;
  padding: 1em;
  margin: 1em;
  float: right;
}

header {
  padding: 0.5em 0;
}
#location {
  font-weight: 400;
  margin: 5%;
  text-align: center;
  text-transform: capitalize;
}
div.time {
  text-align: center;
  line-height: 3rem;
}
#weather-icon {
  width: 7em;
}
div.country-date {
  padding-top: 1.8em;
  padding-left: 2em;
}
#city {
  font-size: 1em;
}
#date {
  font-size: 0.9em;
}
h2.degree {
  font-size: 5em;

  padding: 0 10%;
}
p.highest-lowest-temp {
  font-size: 1em;
  padding: 0 10%;
}
#city,
#weather-description {
  text-transform: capitalize;
}
.conditions,
.upcoming-weather,
.precipitation {
  box-shadow: 0 0 5px rgb(128, 128, 128);
}
.conditions {
  width: 15em;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.upcoming-weather {
  width: 24em;
  flex-basis: 21em;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.humidity,
.wind-speed,
.pressure,
.rain {
  flex-grow: 1;
  padding: 0.2em;
  margin: 0.3em;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
}
.day-1,
.day-2,
.day-3,
.day-4,
.day-5,
.day-6,
.day-7 {
  flex-grow: 1;
  padding: 0.5em, 0.8em;
  margin: 0.3em;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
}
.units {
  width: 100%;
}
div.degrees {
  text-align: center;
  padding-top: 6px;
}
input.search-form-input {
  text-align: center;
  font-size: 1em;
}
#current-location {
  border: 1px solid #ecebe4;
  border-radius: 4px;
  margin-top: 1px;
  padding: 0.25em 1em;
}
#current-location:hover {
  background-color: #cf8e55;
  border-color: #ecebe4;
}
button.btn {
  background-color: rgb(161, 161, 161);
  border: none;
  text-align: center;
  font-size: 1em;
}
button.btn:hover {
  background-color: #cf8e55;
}
.units {
  font-size: 1.2em;
  text-align: center;
  padding-top: 6px;
}
#celsius,
#farenheit {
  text-decoration: none;
}
#celsius:hover,
#farenheit:hover {
  text-decoration: underline;
}
div.precipitation {
  padding: 10px;
  margin-bottom: 10px;
}
img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    font-size: 10px;
  }
}
#github-link {
  display: block;
  text-align: center;
}
