@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
}
.weather-app {
  width: 85%;
  max-width: 770px;
 min-width: 480px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 10px 20px rgba(135, 134, 138, 0.2);
  border: 1px solid rgba(135, 134, 138, 0.2);
  border-radius: 10px;
  margin: 2em auto;
}
main {
  margin: 3%;
  width: 35%;
  flex-grow: 1;
}
aside {
  background: rgba(196, 195, 195, 0.08);
  width: 58%;
  border: 1px solid rgba(196, 195, 195, 0.1);
  border-radius: 6px;
  padding: 1em;
  margin: 1em;
  float: right;
}

header {
  padding: 0.5em 0;
}
#location {
  font-weight: 400;
  margin: 5%;
  text-align: center;
  text-transform: capitalize;
}
div.time {
  text-align: center;
  line-height: 3rem;
}
#weather-icon { 
  display: block;
  margin: 0 auto;
  width: 7em;
}
div.country-date {
  padding-top: 1.8em;
  padding-left: 2em;
}
#city {
  font-size: 1em;
}
#date {
  font-size: 0.9em;
}
h2.degree {
  font-size: 5em;

  padding: 0 10%;
}
p.highest-lowest-temp {
  font-size: 1em;
  padding: 0 10%;
}
#city,
#weather-description {
  text-transform: capitalize;
}
.conditions,
.day-1,
.day-2,
.day-3,
.day-4,
.day-5,
.day-6,
.day-7 {
  
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.4);
}
.conditions {
  background: #ffffff;
  width: 100%;
  padding: 1em;
  margin: 2em 1em 1em 0.2em;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.upcoming-weather {
  width: 100%;
  flex-basis: 21em;
  padding: 1em;
  
  display: flex;
  flex-wrap: wrap;
}
.humidity,
.wind-speed,
.pressure,
.rain {
  flex-grow: 1;
  padding: 0.2em;
  margin: 0.3em;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
}
.day-1,
.day-2,
.day-3,
.day-4,
.day-5,
.day-6,
.day-7 {
  background-color: rgba(196, 195, 195, 0.02);
  flex-grow: 1;
  padding: 0.5em, 0.8em;
  margin: 0 0.5em 0.5em;
  gap: 2em;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  
}
div.degrees {
  text-align: center;
  padding-top: 6px;
}
input.search-form-input {
  text-align: center;
  font-size: 1em;
}
#current-location {
  border: 1px solid #ecebe4;
  border-radius: 4px;
  margin-top: 1px;
  padding: 0.25em 1em;
}
#current-location:hover {
  background-color: #cf8e55;
  border-color: #ecebe4;
}
button.btn {
  background-color: rgb(161, 161, 161);
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 1em;
  transition: ease-in-out 200ms all;
}
button.btn:hover {
  background-color: #cf8e55;
  font-size: 1.05em;
}
div.units {
  font-size: 1.2em;
  text-align: center;
  padding: 4px 3px 0;
  border: 0.4px solid rgb(189, 188, 188);
  border-radius: 16px;
  width: 20%;
}
#celsius,
#farenheit {
  text-decoration: none;
  border: none;
  padding: 0;
  background: rgba(196, 195, 195, 0.02);
  transition: ease-in-out 200ms all;
}
#celsius:hover,
#farenheit:hover {
  font-size: 0.9em;
  color: blue;
}


@media screen and (max-width: 1200px) {
  .container {
    font-size: 10px;
  }
}
#github-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}
